# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
tags
dist
podman-launcher-arm64
podman-launcher-amd64
podman-launcher-arm64.sha256
podman-launcher-amd64.sha256
assets-arm64
assets-amd64
assets-arm64.tar.gz
assets-amd64.tar.gz
TODO.*
assets.tar.gz
